html{
    /* background-color: aqua; */
    background-image:url("womankissesdog.jpg") ;
    background-size: cover;
     background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  height: 100%;
  scroll-behavior: smooth;
 
  
}
.header{
    text-align: center;
}
.logo img{
    width: 100px;
    top: 0;
    left: 0;
}
.active {
    background-color: #04AA6D;

}
    .navbar a {
      float: none;
      display: block;
    }

div .img{
    size: 20px;
}
#topright div .tap{
    top: 0;right: 0;
} 
#top-nav i{
    color: bisque;
}
#nav_bar div button.tap{
    top: 0; right: 0;
}

/* Container holding the image and the text */
.container {
    position: relative;
  }
  #navbar {
    background-color: rgb(46, 15, 171); /* Black background color */
    position: fixed; /* Make it stick/fixed */

    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
  /* Style the navbar links */
  #navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
   header h1{
    font-size: 90px;
    font-weight: 500;
    text-shadow: 4px 4px #f3eded;
    text-align: center;
}
 header h3{
    font-size: 30px;
    font-weight: 150;
    text-shadow: 2px 2px #f3eded;
    text-align: center;
 }

 header a{
    width: 400px;
    vertical-align: middle;  
   text-align: center;
 } 
 .btn-con {
    /* Използва се като вградден блоков етикет */
    display: inline-block;
    background-color: rgb(75, 62, 174);
    color: wheat;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 10px;
    text-align: center;
   border-radius: 10px;
 }
    
   
 .btn-con:hover{
    /* Цвят на бутона преди натискане :hover */
    background-color: rgb(206, 206, 46)

 }
 #secondpage{
    background-color: bisque;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    display: flex;
    padding: 20px 0;
 }
 /* #secondpage img{

    vertical-align: middle;
   float: left; 
   float: right;
   

 }
  */